//Imports
@import 'normalize/normalize';
@import 'reflex/reflex';

//Color Variables
$black: #000;
$footer-background: #474747;
$footer-text: #cacaca;
$gray-text: #bfc0bf;
$main-background-color: #e8e9e8;
$nav-divider-color: rgba(191, 192, 191, .3);
$red: #ac0016;
$white: #fff;

//Padding Variables
$content-padding: 15px;

//Sticky Footer Styles
html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.footer {
	background: $footer-background;
	color: $footer-text;
	padding: $content-padding;
}

.footer__logo {
	max-width: 250px;
}

.not-footer {
	background: $main-background-color;
	flex: 1;
}


// Nav Styles
.nav {
	background: $black;
}

.nav__logo-container {
	padding: 0 1em;
	text-align: center;
}

.nav__logo {
	margin: 0 0 0 auto;
	max-width: 150px;
}

.nav__items {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav__item {
	color: $gray-text;
	cursor: pointer;
	display: inline-block;
	flex: 1 1 auto;
	margin: 0;
	padding: 0 1em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:not(:first-child):not(:last-child)::before {
		border: 1px solid $nav-divider-color;
		content: '';
		height: 40%;
		left: -.5px;
		position: absolute;
		top: 15px;
	}

	&:not(:first-child):not(:last-child)::after {
		border: 1px solid $nav-divider-color;
		content: '';
		height: 40%;
		position: absolute;
		right: -.5px;
		top: 15px;
	}

	li {
		padding: 1em 0;
	}

	&--active {
		color: $white;

		> li {
			background: $red;
		}
	}
}

//Main Content Styles
.main {
	background: $main-background-color;
	padding: $content-padding;
}
