.header {
	background: $red url('../img/header-background.png') no-repeat center center;
	background-size: cover;
	height: 155px;
	padding: $content-padding;
}

.header__title {
	color: $white;
	font-size: 4em;
	font-weight: 100;
	margin: 0;
}
