//Color Variables
$black: #000;
$footer-background: #474747;
$footer-text: #cacaca;
$gray-text: #bfc0bf;
$main-background-color: #e8e9e8;
$nav-divider-color: rgba(191, 192, 191, .3);
$red: #c72220;
$white: #fff;

//Padding Variables
$content-padding: 25px 50px;
